<!DOCTYPE html>
<html lang="en" ng-app="facepassApp">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>facepass</title>
</head>
<body ng-controller="MainController as main" ng-cloak>
  <div ng-if="main.response" 
       id="formMessage" 
       class="alert" 
       ng-class="{ 'alert-success': main.response.status === 'success', 'alert-danger': main.response.status === 'error'}" 
       role="alert">{{ main.response.message }}</div>

  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{{ main.heading }}</h1>
      </div>
    </div>
    
    <form name="main.registerForm" novalidate>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group" ng-class="{ 'has-error' : main.registerForm.firstName.$invalid && !main.registerForm.firstName.$pristine }">
            <label for="first-name">First name</label>
            <input type="text" class="form-control" id="first-name" name="firstName" ng-model="main.user.firstName" ng-minlength="3" required>
            <p id="firstNameError" ng-show="main.registerForm.firstName.$invalid && !main.registerForm.firstName.$pristine" class="help-block">Your first name must have a minimum of three characters</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : main.registerForm.lastName.$invalid && !main.registerForm.lastName.$pristine }">
            <label for="last-name">Last name</label>
            <input type="text" class="form-control" id="last-name" name="lastName" ng-model="main.user.lastName" ng-minlength="2" required>
            <p id="lastNameError" ng-show="main.registerForm.lastName.$invalid && !main.registerForm.lastName.$pristine" class="help-block">Your last name must have a minimum of two characters</p>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : main.registerForm.emailAddress.$invalid && !main.registerForm.emailAddress.$pristine }">
            <label for="email-address">Email Address</label>
            <input type="email" class="form-control" id="email-address" name="emailAddress" ng-model="main.user.emailAddress" required>
            <p id="emailAddressError" ng-show="main.registerForm.emailAddress.$invalid && !main.registerForm.emailAddress.$pristine" class="help-block">Please enter a valid email address</p>

          </div>

          <div class="form-group">
            <input type="file" 
                   name="file"
                   id="file-upload"  
                   ngf-select 
                   ng-model="main.file" 
                   accept="image/*"
                   required>
          </div>
          <div class="form-group">

            <div ng-if="main.file">Image preview: <img ngf-thumbnail="main.file" id="file-upload-preview"></div>

          </div>

          <br/>
          <button type="submit" ng-click="main.submit()" ng-disabled="main.registerForm.$invalid" id="registration-submit">submit</button>
        </div>
      </div>
    </form>
    
  </div>
  
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-touch.min.js"></script>
  <!-- facepass app -->
  <script src="js/ng-app.js"></script>
  <script src="js/controllers/MainController.js"></script>
  <!-- lib -->
  <script src="js/lib/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
  <script src="js/lib/ng-file-upload.min.js"></script>

</body>
</html>